body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
    overflow: hidden;
  }
  
  /* Estilo para a seção de imagem de fundo */
  .hero {
    background: url('/V3RSE/Frontend/img/avengers-4-endgame-wallpaper-3840x2160_54.jpg') center/cover no-repeat fixed;
    height: 100vh;
    width: 1790px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero__content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero__content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero__content p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .hero__content a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    background-color: #f06d06;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }
  
  .hero__content a:hover {
    background-color: #6f2900;
    
  }
  
  /* Estilize a barra lateral */
  .sidebar {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo da barra lateral com transparência */
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
