:root {
  --bg-color: #4ec124;
  --branco: #ffffff;
  --favorite-color: #ba0707;
  --avaliacao-color: #d7a82f;
  --card-color: #1d1c3b;
  --light-blue: #706ea8;
  --light-gray: #acacac;
  --dark-gray: #8a8a8a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  background: var(--bg-color);
  padding: 2% 6%;

  font-family: "Kumbh Sans", sans-serif;
  font-size: normal;
  color: var(--branco);
}

#filmes {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
body {
  background: hsla(347, 89%, 61%, 1);

  background: linear-gradient(
    90deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(347, 89%, 61%, 1) 0%,
    hsla(242, 42%, 40%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F44369", endColorstr="#3E3B92", GradientType=1 );
}
